*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: #f7f7f7;
}
.konten {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center ;
    align-items: center;
    height: 100vh;
}
.container{
    background-color: #ffffff; 
    border: 2px solid #ffffff; 
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f2f2f2;
}


td:nth-child(5) {
    max-width: 300px;
}
.custom-button {
    /* text-decoration: none; */
    background-color: #464c53; /* Warna latar belakang tombol */
    color: #fff; /* Warna teks tombol */
    padding: 10px 20px; /* Padding di dalam tombol */
    border: none; /* Tanpa border */
    border-radius: 5px; /* Border radius untuk sudut tombol */
    cursor: pointer; /* Tampilan kursor ketika di atas tombol */
    transition: background-color 0.3s; /* Transisi warna latar belakang saat dihover */
    display: inline-block; /* Menjadikan tombol inline */
}
.custom-button:hover {
    background-color: #292d31; /* Warna latar belakang saat dihover */
}
.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center; 
}

.login-container h2 {
    text-align: center;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

.back-link {
    display: block;
    margin-top: 5px;
    text-decoration: none;
    color: black;
    font-size: small;
}
.back-link:hover {
    color: #ccc; 
}


@media only screen and (max-width: 500px) {
    .login-container {
        width: 80%;
    }
}